.todoDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 249, 249);
  padding: 10px;
  box-sizing: border-box;
}

.todoDetail .title {
  width: 80%;
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

.todoDetail .detailCard{
  margin: 20px 0 0 20px;
}

.detailCard .itemTitle{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.detailCard .text{
  word-break: break-all;
}
