.inputBar {
  width: calc(100% - 50px);
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
  margin: 20px;

  /* 悬浮变形 */
  transition: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.inputBar:hover {
  transform: scale(1.01);
}

.addInput.addInput {
  height: 30px;
  width: 100%;
  border: none;
}

.addInput.ant-input:focus {
  border: none;
  box-shadow: none;
}

.inputBar button {
  width: 80px;
  height: 40px;
  font-size: 15px;
  background-color: #168dfd;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
