.layout{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
}

.layout .header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #1773c9;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  box-sizing: border-box;
  color: white;
}

.layout .logo{
  margin-right: 10px;
}

header{
  width: 400px;
  display: flex;
  justify-content: space-around;
}
header .link{
  width: 80px;
  text-decoration: none;
  color: #168dfd;
}

header .active {
  color: grey;
}

.link:active{
  color: #1f65a7;
}

.navigatorMenu{
  height: 100%;
  box-shadow: 1px 5px 5px grey;
}

.ant-drawer .ant-drawer-content-wrapper{
  width: 270px !important;
}

.ant-drawer .ant-drawer-body{
  overflow: hidden;
  padding: 30px 0 0 10px;
}

Outlet{
  width: 100%;
  height: 100%;
}